.container {
  max-width: 800px;
  margin: 0 auto;
}

.navbar {
  margin: 12px 0;
}

.navbar button {
  margin-right: 9px;
}

.editor-container .actions {
  border-top: 1px solid #ccc;
}

.editor-shell .toolbar {
  border: 1px solid #ccc;
}
